# Python stuff
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Data Files (Don't push heavy data to GitHub)
*.csv
*.html
*.tmp*
*.zip
*.db

# OS specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.pytest_cache
